.carousel-root {
  max-width: 600px;
  margin: 0 auto;
  .carousel {
    .slide {
      background: transparent;
      max-height: 600px;
      img {
        max-height: 500px;
        object-fit: contain;
      }
    }
    ul.thumbs {
      li.thumb {
        border: 3px solid transparent;

        img {
          margin:0 auto;

        }
        &.selected {
          border: 3px solid $green;
        }
        &:hover {
          border: 3px solid $yellow-light;
        }
        &:focus {
          outline:solid $yellow-dark;
        }
      }
    }
  }
}
