.navbar {
  position: relative;
  position: fixed;
  z-index: 2;
  top: -400px;
  .navbar-background {
    left: 0;
    height: 500px;
    width: 100vw;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    .nav-menu {
      &.open {
        opacity: 1;
        cursor: pointer;
        transition: ease-in 0.3s;
      }
      cursor: default;
      transition: ease-in 0.3s;
      opacity: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100vw - 200px);
      bottom: 80px;
      left: 0;
      font-size: 36px;
      .nav-menu-left {
        margin-left: 100px;
      }
      .nav-menu-right {
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      a {
        cursor: inherit;
        font-size: inherit;
        text-decoration: none;
        color: $green;
        font-weight: bold;
      }
      img {
        height: 80px;
      }
      .cta {
        color: #FFF;
        background-color: $green;
        font-weight: bold;
        padding: 8px 20px;
      }
    }
  }
  #navbar-toggle {
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 80px;
    background-color: transparent;
    border: none;
    svg {
      fill: $yellow-light;
    }
  }
}

@media only screen and (max-width: $Tablets) {
  .navbar {
    .navbar-background {
      .nav-menu {
        width: calc(100vw - 120px);
        bottom: 80px;
        left: 0;
        .nav-menu-left {
          margin-left: 80px;
        }
        .nav-menu-right {
          font-size: 28px;
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: $Phones) {
  .navbar {
    .navbar-background {
      .nav-menu {
        width: 100vw;
        bottom: 80px;
        left: 0;
        a {
          font-size: 22px;
          margin: 0 1rem;
        }
        .nav-menu-left {
          margin-left: 2rem;
        }
        .nav-menu-right {
          font-size: 28px;
          width: auto;
        }
      }
    }
  }
}
