.navbar {
  position: relative;
  position: fixed;
  z-index: 2;
  top: -400px;
  .navbar-background {
    left: 0;
    height: 500px;
    width: 100vw;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #navbar-toggle {
    cursor: pointer;
    // &:focus {
    //   outline: none;
    //
    // }
    position: absolute;
    bottom: 40px;
    right: 80px;
    background-color: transparent;
    border: none;
    svg {
      fill: $yellow-light;
    }
  }
}
