.navbar {
  z-index: 2;
  position: fixed;
  top: -400px;
  left: 0;
  height: 500px;
  width: 100vw;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
