.title-main {
  font-size: 80px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  .textbox {
  }
  p {
    font-size: 32px;
  }
  svg {
    justify-self: flex-end;
  }
}

.section-features {
  h3 {
    font-size: 60px;
    margin-bottom: 100px;
  }
}

.section-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  padding: 20px;
  position: relative;
  max-width: 700px;
  margin-bottom: 80px;
  &:before,&:after {
    position: absolute;
    color: rgba(0,0,0,0.5);
    font-size: 60px;
    top: 0;
  }
  &:before {
    content: '"';
    left: 0;
    transform: rotate(-10deg);
  }
  &:after {
    content: '"';
    right: 0;
    transform: rotate(10deg);
  }
  .review-text {
    display: block;
    color: rgba(0,0,0,0.5);
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    strong {
      color: $green;
    }
  }
  .review-author {
    text-align: right;
  }
}

@media only screen and (max-width: $Tablets) {
  .section-synopsis {
    position: relative;
    .d-horizontal {
      justify-content: flex-end !important;
    }
    .deer-wrapper {
      width: 200px;
      img {
        position: relative;
        left: -159px;
        height: 600px;
        width: auto;
        transform: rotate(05deg);
      }
    }
  }
  .section-features {
    .d-horizontal {
      flex-direction: column;
      &.reverse {
        flex-direction: column-reverse;
      }
    }
  }
  .section-reviews {
    h2.fr {
      font-size: 38px !important;
    }
  }
}


@media only screen and (max-width: 832px) {
  .title-pepper.ja {
    display: none;
  }
}
@media only screen and (max-width: $Phones) {
  .title-main {
    font-size: 60px;
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    .large-vegetable {
      display: none;
    }
    .textbox {
      text-align: center;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-right: 0 !important;
        display: block;
      }
    }
  }
  .section-synopsis {
    img {
      display: none;
    }
  }
  .section-features {
    h3 {
      font-size: 36px;
      margin-bottom: 100px;
      text-align: center;
    }
  }
  .review {
    &:before {
      left: 8px;
    }
    &:after {
      right: 10px;
    }
  }
}
