// Colors
$black: #373737;
$green: #037e00;
$green-dark: #3a5837;
$yellow-light: #fff9d7;
$yellow-dark: #7a7635;

// screen widths
$Phones: 600px;
$Tablets: 900px;
$Desktops: 1200px;

// shadows
$bs: 0px 3px 15px rgba(0, 0, 0, 0.2);
$ts: 1px 2px rgba(0, 0, 0, 0.2);
$shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
