@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
// font-family: 'Gentium Book Basic', serif;

html, body {
  margin: 0;
}

body {
  font-family: 'Gentium Book Basic', serif;
  color: $black;
}

* {
  box-sizing: border-box;
  outline-color: $green;
}

h2 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: normal;
}

p {
  font-size: 24px;
}

svg {
  fill: $black;
}

.container {
  margin: 4rem;
}

.nav-spacer {
  height: 80px;
}

.ta-center {
  text-align: center;
}

.btn {
  background-color: $green;
  color: #FFF;
  padding: 16px 20px;
  text-decoration: none;
  &.large {
    padding: 16px 40px;
    font-size: 48px;
  }
}

.textbox {
  margin-left: 80px;
}

.textbox-constrained {
  max-width: 600px;
}

.large-vegetable {
  object-fit: contain;
  width: 500px;
}
