@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
// font-family: 'Gentium Book Basic', serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');
// JAPANESE font-family: 'Noto Serif JP', serif;

html, body {
  margin: 0;
}

body {
  font-family: 'Gentium Book Basic', serif;
  color: $black;
  background-color: $yellow-light;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  outline-color: $green;
}

h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-size: 80px;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
}

p, a {
  font-size: 24px;
}

svg {
  fill: $black;
}

button {
  background-color: transparent;
  border: none;
}

table {
  overflow-x:scroll;
  tr {
    td {
      padding: 1rem;
    }
  }
}

.overflow-x-container {
  height: auto;
  overflow-x: auto !important;
}

input {
  background-color: $yellow-light;
  border: none;
  height: 2.5rem;
  font-family: inherit;
  font-size: 18px;
  padding:10px 16px;
  border-radius: 20px;
  color: $yellow-dark;
  &::placeholder {
    color: rgba(0,0,0,0.3);
  }
}

// for controlling line-breaking of Japanese words
.w {
  display: inline-block;
}

.page {
  position: relative;
  min-height: 100vh;
}

.container {
  margin: 4rem;
}

.nav-spacer {
  height: 80px;
}

.btn {
  font-size: 24px;
  background-color: $green;
  color: #FFF;
  padding: 16px 24px;
  text-decoration: none;
  a {
    margin-bottom: 0;
  }
  &.large {
    padding: 16px 40px;
    font-size: 48px;
  }
}

.link {
  text-decoration: none;
  color: $green;
  svg {
    fill: $green;
  }
  &:hover, &:hover svg {
    color: $green-dark;
    fill: $green-dark;
  }
}
.text {
  margin: 0 auto;
  max-width: 700px;
}

.textbox {
  margin-left: 80px;
}

.textbox-constrained {
  max-width: 600px;
}

.title-box {
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.large-vegetable {
  object-fit: contain;
  width: 500px;
}

.ta-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.jc-between {
  justify-content: space-between;
}

.d-horizontal {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 80px;
  }
}

img.responsive {
  width: 100%;
  height: auto;
}

.mw-600 {
  max-width: 600px;
}

@media only screen and (max-width: $Tablets) {
  .textbox.textbox-constrained {
    margin-left: 0;
  }
}
@media only screen and (max-width: 925px) {
  .btn.large.fr {
    font-size: 26px
  }
}
@media only screen and (max-width: $Phones) {
  .container {
    margin: 2rem;
  }
  .text {
    text-align: center;
  }

  .textbox {
    margin-left: 0;
    text-align: center;
  }

  .tilde {
    margin: 0;
  }

  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 48px;
  }
  .btn.large {
    font-size: 36px;
  }
  .d-horizontal {
    flex-direction: column;
    &.reverse {
      flex-direction: column-reverse;
    }
  }
}
